<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.chr33s.shell.ssh</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.chr33s.shell.control</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shell-control</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ShellKeychainAccessGroup</key>
	<string>$(SHELL_KEYCHAIN_ACCESS_GROUP)</string>
	<key>ShellCloudKitContainer</key>
	<string>$(SHELL_CLOUDKIT_CONTAINER)</string>
	<key>SHELLControlBrokerURL</key>
	<string>$(SHELL_CONTROL_BROKER_URL)</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Shell Tab Transfer</string>
			<key>UTTypeIdentifier</key>
			<string>dev.chr33s.shell.tab-transfer</string>
		</dict>
	</array>
</dict>
</plist>
